@import "colorTheme";
@import "link";

* {
  margin: 0;
  padding: 0;
  font-family:'Monospace';
  text-decoration: none;
  list-style-type: none;
}
.Grid-container {
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: auto;
}
.banner1 {
  grid-column: 1/13;
  grid-row: 2/3;
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 15vh;
  }
}

.box1 {
  grid-column: 1/13;
  grid-row: 3/4;
  height: 100px;
  background-color:rgba(map-get($color-index, DarkAubergine),1);
  @include my_link(none, white, rgba(map-get($color-index, UbuntuBlack),1), rgba(map-get($color-index, UbuntuOrange),1), center);
}
.box2 {
  grid-column: 1/13;
  grid-row: 4/5;
  height: 100px;
  background-color:rgba(map-get($color-index, CanonicalAubergine),1);
  @include my_link(none, white, rgba(map-get($color-index, UbuntuBlack),1), rgba(map-get($color-index, UbuntuOrange),1), center);
}
.box3 {
  grid-column: 1/13;
  grid-row: 5/6;
    height: 100px;
  background-color:rgba(map-get($color-index, MidAubergine),1);
  @include my_link(none, white, rgba(map-get($color-index, UbuntuBlack),1), rgba(map-get($color-index, UbuntuOrange),1), center);
}
.box4 {
  grid-column: 1/13;
  grid-row: 6/7;
  height: 100px;
  background-color:rgba(map-get($color-index, LightAubergine),1);
  @include my_link(none, white, rgba(map-get($color-index, UbuntuBlack),1), rgba(map-get($color-index, UbuntuOrange),1), center);
}
.image1 {
  grid-column: 1/7;
  grid-row: 7/8;
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 15vh;
  }
}
.image2 {
  grid-column: 7/13;
  grid-row: 7/8;
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 15vh;
  }
}



{
display: flex;
align-items: center;
justify-content: center;
}
