@charset "UTF-8";
/* MENU */
/* line 4, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
.topnav {
  grid-column: 1/13;
  grid-row: 1/2;
  background-color: #e95420;
  overflow: hidden;
}

/* line 9, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
.topnav .fas {
  color: white;
  float: right;
  display: block;
  font-size: 20px;
}

/* line 15, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: monospace;
}

/* line 25, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
.topnav a:hover {
  background-color: #F29879;
  color: black;
}

/* line 29, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
.topnav .fas:hover {
  background-color: #F29879;
  color: black;
}

/* LOGO I MENU */
/* line 36, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
#logo {
  grid-column: 2/3;
  grid-row: 1/2;
  padding-top: 5px;
}

/* line 40, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
#logo img {
  width: 65%;
}

/* RESPONSIVE BURGER MENU */
/* line 48, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 53, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  .topnav a {
    display: none;
  }
  /* line 54, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  /* line 61, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  .topnav.responsive {
    position: relative;
  }
  /* line 62, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 67, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  .topnav.responsive a.fas {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 72, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  /* line 77, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  .topnav.responsive .fas {
    float: none;
    display: block;
    text-align: left;
  }
}

/* LOGO */
@media screen and (max-width: 600px) {
  /* line 86, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  #logo {
    width: 100%;
    padding-top: 18px;
    padding-left: 20px;
  }
  /* line 91, C:/Users/nbrpr/OneDrive/Hovedforløb/Ubuntu_opgave/resources/scss/navigation.scss */
  #logo img {
    width: 100%;
  }
}

/*# sourceMappingURL=../css/navigation.map */